body {
    margin: 0px;
    counter-reset: ch1;
}

a::before {
    counter-increment: ch1;
    content: counter(ch1) ". ";
}

body.noscroll {
    overflow: hidden;
}

.gallery-item img{
    width: 100%;
}

a[target=gallery] {
    font-size: 16pt;
}