@font-face {
	font-family: "Caviar Dreams";
	src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
	font-family: "Caviar Dreams";
	src: url(../fonts/Caviar_Dreams_Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: "Caviar Dreams";
	src: url(../fonts/CaviarDreams_Italic.ttf);
	font-weight: italic;
}

@font-face {
	font-family: "Caviar Dreams";
	src: url(../fonts/CaviarDreams_BoldItalic.ttf);
	font-weight: italic;
	font-weight: bold;
}

body{
	font-family: Arial;
}

header {
	text-align: center;
}

main {
	text-align: justify;
}

footer {
	text-align: right;
}

h1 {
	font-size: 32pt;
	font-family: Verdana, Geneva, cursive, sans-serif;
	text-shadow: 3pt 3pt 5pt darkgray;
}

h1 span{
	font-weight: normal;
}

p {
	font-size: 14pt !important;
}

p.greeting{
	font-size: 24pt;
}

.bigger {
	font-size: 16pt;
}

.advertising {
	margin-left: 30pt;
}

.advertising div {
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

table.pricelist th, table.pricelist td {
	border: grey thin solid;
	padding: 4px;
}

table.catalog {
	border-collapse: collapse;
}

table.catalog td {
	border-top: black thin dotted;
	border-bottom: black thin dotted;
	padding: 10px;
}

table.catalog img {
	width: 200px;
}

table.pricelist thead th {
	color: white;
	background-color: grey;
}

table.pricelist tfoot td {
	text-align: right;
	font-style: italic;
}

table.catalog tr:first-child td {
	border-top: none;
}

table.catalog tr:last-child td {
	border-bottom: none;
}

table.catalog td p:first-of-type::first-letter {
	font-size: 24pt;
}

nav {
	float: left;
	width: 150px;
	margin: 10px 30px 10px 0;
	padding: 10px;
	border: black medium double;
	border-radius: 10px;
}

nav div {
	font-size: 20pt;
	margin-top: 5px;
	margin-bottom: 5px;
}

table h3{
	font-family: "Caviar Dreams";
	font-size: 20pt;
}

table.pricelist [colspan="2"] {
	text-align: center;
}

table.pricelist tr td:last-child:not(:only-child){
	background-color: lightgrey;
	border: none
}

table.catalog h3 {
	font-variant: small-caps;
	text-transform: capitalize;
	letter-spacing: 2pt;
}

table.catalog p::first-letter {
	vertical-align: top;
}

table.catalog h3::after {
	content: ":";
}
